<!--
  Created by IntelliJ IDEA.
  User: NingZe
  Date: 2019/5/28 0028
  Time: 13:47
  To change this template use File | Settings | File Templates.
-->
<script type="text/javascript" src="../static/js/statistics.js"></script>
<!DOCTYPE html>
<html lang="en" class="ie9" xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" http-equiv="Content-Type" content="text/html;charset=UTF-8;width=device-width, initial-scale=1.0;">
    <title>LEMONBLOG</title>
    <link rel="shortcut icon" href="img/god-icon.png">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/animations.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="css/akome.css" rel="stylesheet">
</head>
<body>
<section class="acana">
    <div class="container no-view" data-animation-effect="fadeIn">
        <h1 class="title text-center">{{title}}</h1>
        <div class="acmsgs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{jpana}}</p>
                        <p>{{cnana}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
        <div class="row acnames">
            <template v-for="ac in acs">
                <div class="col-md-4">
                    <div class="media block-list">
                        <div class="media-left">
                            <img v-bind:src="ac.url">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{{ac.name}}</h3>
                            <blockquote class="acintros">
                                <template v-if="ac.intro == ''">
                                    <p>{{intro}}</p>
                                </template>
                                <template v-else>
                                    <p>{{ac.intro}}</p>
                                </template>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</section>
</body>
</html>
<!-- JavaScript -->
<script type="text/javascript" src="../static/plugins/jquery.js"></script>
<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/plugins/modernizr.js"></script>
<script type="text/javascript" src="../static/plugins/isotope/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="../static/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="../static/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="../static/js/custom.js"></script>

<script type="text/javascript" src="../static/js/vue.min.js"></script>
<script type="text/javascript" src="js/akome.js"></script>